/* Base Styles */

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


/* Fonts */

@font-face{
    font-family: 'Persona5MenuFontPrototype-Regular';
    src: url('Persona5MenuFontPrototype-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face{
    font-family: 'Orbitron-VariableFont_wght';
    src: url('Orbitron-VariableFont_wght.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

/* Body */

body{
    font-family: 'Orbitron-VariableFont_wght', sans-serif;
    position: relative;
    min-height: 100vh;
    background: linear-gradient(135deg, #ff0000 0%, #8B0000 100%);
    overflow: hidden;
    color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
}

body::before{
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 200%;
    height: 200%;
    background: repeating-linear-gradient(
        45deg,
        rgba(255, 0, 0, 0.05),
        rgba(255, 0, 0, 0.05) 1px,
        transparent 1px,
        transparent 20px
    );
    z-index: -1;
}


/* Container Card */

.container{
    background-color: #111;
    border: 2px solid crimson;
    padding: 40px;
    border-radius: 15px;
    width: 350px;
    text-align: center;
    box-shadow: 0 0 40px rgba(255, 0, 0, 0.6);
    position: relative;
    overflow: hidden;
    transform: skewY(-1deg);
}

.container img{
    width: 100px;
}

/* Header */

.container h1{
    font-family: 'Persona5MenuFontPrototype-Regular';
    font-size: 2rem;
    font-weight: bold;
    margin-bottom: 25px;
    color: white;
    text-transform: uppercase;
    letter-spacing: 2px;
    text-shadow: 1px 1px 3px rgba(255, 0, 0, 0.6);
}


/* Inputs */

input{
    width: 100%;
    padding: 12px;
    margin: 10px 0;
    border-radius: 8px;
    border: none;
    outline: none;
    font-size: 1rem;
    background-color: #222;
    color: #fff;
    transition: all 0.3s ease;
}

input:focus{
    box-shadow: 0 0 5px crimson;
    border: 1px solid crimson;
}


/* Buttons */

button{
    width: 100%;
    padding: 12px;
    margin-top: 10px;
    background-color: crimson;
    color: #fff;
    font-size: 1rem;
    font-weight: bold;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    transition: all 0.3s ease;
}

button:hover{
    background-color: darkred;
    transform: translateY(-2px);
    box-shadow: 0 5px 15px rgba(225, 0, 0, 0.4);
}

/* Links */

a{
    color: crimson;
    text-decoration: none;
    font-weight: bold;
}

a:hover{
    text-decoration: underline;
}


/* Messages */

#loginMessage, #signupMessage{
    margin-top: 10px;
    font-weight: bold;
    color: #ff4d4d;
}